@model _2_Domain.Entities.Department

<h2>Editar departamento</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Nombre</label>
        <input asp-for="Name" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>